/* src/pages/auth.css */

/* Authentication Container */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    color: #1890ff;
    text-decoration: none;
  }
  
  /* Authentication Card */
  .auth-card {
    width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    text-align: center;
  }
  
  /* Submit Button */
  .submit-btn {
    width: 100%;
    margin-top: 10px;
    background-color: #1677ff;
    border: none;
    border-radius: 5px;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }
  